---
layout: default
title: 'Resume - Jairo Gätjens González'
---

<div id="resume">
	<img src="images/me.jpg" width="200px" height="200px">
	<h1>Jairo Gätjens González<small>Heredia, Costa Rica</small></h1>

	<div class="skill-list">
		<a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank" class="btn">javascript</a>
		<a href="https://nodejs.org/" target="_blank" class="btn">nodejs</a>
		<a href="https://developer.mozilla.org/en-US/docs/Glossary/HTML" target="_blank" class="btn">html</a>
		<a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank" class="btn">css</a>
		<a href="https://www.linkedin.com/in/jgatjens?trk=hp-identity-photo#background-skills-container" target="_blank" class="btn active">+10</a>
	</div>


	<p>I'm an experienced freelance frontend<br> developer based in Costa Rica.</p>

	<div>
		<a href="https://twitter.com/jgatjens" target="_blank">
			{% include icon-twitter.svg %}
		</a>
		<a href="https://github.com/jgatjens" target="_blank">
			{% include icon-github.svg %}
		</a>

		<a href="https://www.linkedin.com/in/jgatjens" target="_blank">
			{% include icon-in.svg %}
		</a>
	</div>

	<div class="line"></div>

	<a href="mailto:jgatjens@gmail.com" class="btn-hireme">Hire me</a>

</div>
