---
layout: default
title: 'Resume - Jairo Gätjens González'
---

<div id="resume">
	<img src="images/me.jpg" width="200px" height="200px">
	<h1>Jairo Gätjens González<small>Heredia, Costa Rica</small></h1>

	<div class="skill-list">
		<a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank" class="btn">javascript</a>
		<a href="https://nodejs.org/" target="_blank" class="btn">nodejs</a>
		<a href="https://developer.mozilla.org/en-US/docs/Glossary/HTML" target="_blank" class="btn">html</a>
		<a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank" class="btn">css</a>
		<a href="https://www.linkedin.com/in/jgatjens?trk=hp-identity-photo#background-skills-container" target="_blank" class="btn active">+10</a>
	</div>


	<p>I'm an experienced freelance frontend<br> developer based in Costa Rica.</p>

	<div>
		<a href="https://twitter.com/jgatjens" target="_blank">
			{% include icon-twitter.svg %}
		</a>
		<a href="https://github.com/jgatjens" target="_blank">
			{% include icon-github.svg %}
		</a>

		<a href="https://www.linkedin.com/in/jgatjens" target="_blank">
			{% include icon-in.svg %}
		</a>
	</div>

	<div class="line"></div>

	<a href="mailto:jgatjens@gmail.com" class="btn-hireme">Hire me</a>
</div>

<a href="https://github.com/jgatjens/jgatjens.github.io"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
