<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="keywords" content="Website, Resume, Profile, Github, HTML, CSS, JavaScript">
	<meta name="author" content="Jairo Gätjens">

	<meta property="og:type" content="website" />
	<meta property="og:title" content="Jairo Gätjens" />
	<meta property="og:description" content="I'm an experienced Front End developer based in the Costa Rica." />
	<meta property="og:image" content="http://jgatjens.github.io/images/jgatjens.jpg" />

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@jgatjens">
	<meta name="twitter:creator" content="@jgatjens">
	<meta name="twitter:title" content="Website Jairo Gatjens">
	<meta name="twitter:description" content="Jairo Gatjens has been web developer for 8 years, and is currently a Front End Lead in Costa Rica. He received his degree in Computer Science in 2009. Some of his current responsibilities are: developing quality software, participating in the architecture phase and serving as the platform lead on projects, advising and mentoring fellow developers, assisting in the definition of technology standards and best practices.">
	<meta name="twitter:image" content="http://jgatjens.github.io/images/jgatjens.jpg">

  <link rel="icon" href="favicon.ico" type="image/x-icon"/>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css" type="text/css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">

  <link rel="stylesheet" href="{{ "css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>
